body {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.list {
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  list-style-type: none;
}

.list li {
  margin: 15px;
}

input {
  border: 1px solid aqua;
  border-radius: 5px;
  padding: 10px 80px 10px 80px;
  margin-top: 20px;
  margin-bottom: 20px;
}

img {
  transition: 1s;
}

img:hover {
  transform: rotate(25deg);
}

.hidden {
  display: none;
}
